.insta-header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.insta-header__nomadstagram {
    font-family: 'Caveat', cursive;

}

.insta-header__icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}